<div class="wrapper">
  <app-header></app-header>
  <app-sidebar *ngIf="authService.isLoggedIn"></app-sidebar>

  <router-outlet></router-outlet>
  <nav id="top">
    <a *ngIf="!authService.isLoggedIn" [routerLink]="['/login']" routerLinkActive="active">login</a>
    <a *ngIf="authService.isLoggedIn" (click)="logout()">logout</a>
    <a [routerLink]="['/dashboard']" routerLinkActive="active">dashboard</a>
    <a [routerLink]="['/admin']" routerLinkActive="active">admin</a>
    <a [routerLink]="['/action']" routerLinkActive="active">action</a>
  </nav>

</div>
