<div class="main-sidebar">
  <!-- Inner sidebar -->
  <div class="sidebar">
    <!-- Sidebar Menu -->
  <ul class="sidebar-menu">
    <li class="header text-center">主菜单</li>

    <li class="treeview">
      <a href="#"><i class="fa fa-user-md"></i> <span>测试管理</span> <i class="fa fa-angle-left pull-right"></i></a>
      <ul class="treeview-menu" style="padding-left: 1.8em;">
        <li><a >产品管理</a></li>
        <li><a >人员管理</a></li>
        <li><a >厂家管理</a></li>
        <li><a >需求管理</a></li>
        <li><a >环境管理</a></li>
        <li><a >用例管理</a></li>
        <li><a >计划管理</a></li>
        <li><a >结果分析</a></li>
      </ul>
    </li>
    <li class="treeview">
      <a href="#"><i class="glyphicon glyphicon-play"></i> <span>测试执行</span> <i class="fa fa-angle-left pull-right"></i></a>
      <ul class="treeview-menu" style="padding-left: 1.8em;">
        <li><a >功能测试</a></li>
        <li><a >开发者模式</a></li>
        <li><a >备案比对</a></li>
        <li><a >供货比对</a></li>
      </ul>
    </li>
    <li class="treeview">
      <a href="#"><i class="glyphicon glyphicon-cog"></i> <span>系统配置</span> <i class="fa fa-angle-left pull-right"></i></a>
      <ul class="treeview-menu" style="padding-left: 1.8em;">
        <li><a href="">缺陷流程配置</a></li>
        <li><a >角色权限分配</a></li>
        <li><a >备案加密算法配置</a></li>
      </ul>
    </li>
  </ul>

  </div><!-- /.sidebar -->
</div><!-- /.main-sidebar -->
